Shoot/build/vc/x64/
Game/build/vc/game/x64/
ShootEditor/build/vc/x64/
Game/DebugLog.txt
*.sdf
Game/build/vc/editor/x64/
*.VC.db
*.VC.opendb
*.ipch
/Game/data.fs
/Shoot/tools/FileSystemGenerator/vc/x64/
/x64

*.exe
*.pdb
.vs/
*.vcxproj.user
